/* standard Reach styling of Oshin */
// blog stuff...
// hide comments on posts
.be-themes-comments,
.post-meta.post-comments {
	display: none;
}
// hide the 'posted in' category on blog posts
.post-meta.post-category {
	display: none;
}
// if hiding everything after author in post-meta, hide the separator
.post-meta.post-author{
	.post-meta-sep {
		display: none;
	}
}

// archive layout, using style 2 = small thumbnail.
// featured image at 1/3 (instead of 1/2)
.style2-blog {
	article {
		//margin-bottom: 25px;
		.post-thumb {
		    width: 30%;
		    margin-right: 3%;
			}
		.article-details {
		    width: 66%;
		}
		.more-link {
			display:  inline-block;
		}
		// tighten up block archive
		.post-bottom-details {
			nav {
				margin-bottom: 0px!important;
			}
		}
		.blog-separator {
			.separator {
					margin-top: 0px;
			}
		}
	}
}


// blog top & bottom padding (tatsu)
// force to 30px
.post-content-wrap {
		.post-content {
			.tatsu-section {
				.tatsu-section-pad {
					padding-top: 30px!important;
					padding-bottom: 30px!important;
				}
			}
		}
}

.oshine-gallery-module  {
	.portfolio {
		.portfolio-container  {
			.element { // hide the hover color & link button & icon on galleries
				.thumb-bg   {
					background-color: transparent!important;
				}
				.like-button-wrap,
				.portfolio-overlay-icon {
					display: none;
				}
			}
		}
	}
}


// for IE, make image width 100% s.t. it doesnt get cut off.
// not sure if just in column or not....
.tatsu-column .tatsu-single-image img {
	width: 100%;
}
// for IE, stop ugly buttons
.wpcf7-form .wpcf7-form-control.wpcf7-submit,
input[type="submit"] {
	border: 0px;
	padding: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 3px;
	letter-spacing: 1px;
	font-weight: bold;
	cursor: pointer;
}
